{% extends "blog/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<br>
<br>
<div class="container-fluid post-det-container">
    <h1 class="header-post" align="center">About Me</h1>

    <div class="about-image">
        <img src='{% static "media/avatar.png" %}' class="img-fluid img-thumbnail">
    </div>
    <hr>
    <div class="row align-items-center justify-content-center">
        <div class="col-10 align-self-center">
            <pre>
                nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfre
            k;fjerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;
            iopfjerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jer
            poi;freoifjre[oifpjero fodpvjefgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f
            reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoif
            jre[oifpjero fodpvjefgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oi
            fpjero fodpvjefgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero
            fodpvjefgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvje
            fgp reoprejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reo
            prejfoprej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfo
            prej reopj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfoprej re
            opj jprj rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj jpr
            j rejof rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj jprj rejo
            f rejonfdk fndfk;l nfrek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj nfdk fndfk;l nfr
            ek;f jerq;iopf jerpoi;f reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj nfdk fndfk;l nfrek;f jerq;iopf jerpoi;
            f reoifjre[oifpjero fodpvjefgp reoprejfoprej reopj nfdk fndfk;l nfrek;f jerq;</pre>
        </div>
    </div>
    <hr>



</div>

{% endblock %}