<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    {# Custom CSS#}

    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}"/>

</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav justify-content-center">
                <li class="nav-item n-link">
                    <a class="n-link" href="#">About</a>
                </li>
                <li class="nav-item n-link-border">
                    <a class="n-link" href="#">About</a>
                </li>
                <li class="nav-item n-link" style="text-align: center">
                    <a class="navbar-brand" href="{% url 'post_list' %}">
                        <h3>My Blog</h3>
                    </a>
                </li>
                <li class="nav-ite n-link-border">
                    <a class="n-link" href="#">About</a>
                </li>
                <li class="nav-item n-link">
                    <a class="n-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>


{% block content %}

{% endblock content %}

    <footer class="footer-main">
        <div>
            <h6 style="text-align:center;">Follow us on social media:</h6>
            <a href="https://www.facebook.com/"><img src="{% static 'media/facebook.svg' %}" width="45px"></a>
            <a href="https://www.instagram.com/"><img src="{% static 'media/insta.svg' %}" width="45px"></a>
            <a href="https://twitter.com/"><img src="{% static 'media/twitter.svg' %}" width="45px"></a>
            <p>© 2019 Patryk Ostrowski All Rights Reserved </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>