{% extends "blog/base.html" %}

{% load staticfiles %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-start gallery-row">
        {% for post in post_list %}
            {% if post.published_post or user.is_authenticated %}
                <div class="col-4 gallery-col">
                    <div class="container-fluid post-list-container img-thumbnail">
                        <div class="row align-items-center justify-content-center">
                            <div class="col align-self-center">
                                <h1 class="header-post" align="center"><a class="post-link nav-link" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center">
                            <div class="col align-self-center">
                                <h4 align="center">Date Posted: {{ post.published_date }}</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-start justify-content-around">
                            <div class="col-8 align-self-start">
                                <div >
                                    <pre >{{ post.text }}</pre>
                                </div>
                                <hr>
                                <button type="button" class="btn btn-lg btn-secondary comment-button" href="{% url 'post_detail' pk=post.pk %}">Comments: <span class="badge badge-light comment-button">{{ post.approve_comments.count }}</span></button>
                            </div>
                            <div class="col-3 align-self-start">
                                {% if post.image %}
                                    <div class="post-pic">
                                        <img src="{{ post.image.url }}" class=".img-fluid img-thumbnail" >
                                    </div>
                                {% else %}
                                    <div class="post-pic">
                                        <img src=" {% static 'media/greyblank.jpg' %}" class="img-fluid img-thumbnail" alt="image">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                    </div>
                    <br>
                    <br>
                    <br>
                    {% else %}
                    <br>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}