{% extends "blog/base.html" %}

{% load staticfiles %}
{% load static %}

{% block content %}

<div class="container-fluid">
    {% if user.is_authenticated %}
        <h1 class="header-main">Welcome to the blog {{ user.username }}!</h1>
    {% else %}
        <h1 class="header-main">Welcome to the blog!</h1>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="row align-items-center justify-content-center">
            <div class="col-1" align="center">
                <a class="btn btn-lg btn-secondary" href="{% url 'post_new' %}">
                Add New Post
                </a>
            </div>
            <div class="col-1" align="center">
                <a class="btn btn-lg btn-secondary" href="{% url 'post_draft_list' %}">
                Posts Draft List
                </a>
            </div>
        </div>
        <br>
    {% else %}
        <br>
    {% endif %}


    {% for post in post_list %}
        {% if post.published_post or user.is_authenticated %}
        <div class="container-fluid post-list-container img-thumbnail">
            <div class="row align-items-center justify-content-center">
                <div class="col align-self-center">
                    <h1 class="header-post" align="center"><a class="post-link nav-link" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col align-self-center">
                    <h4 align="center">Date Posted: {{ post.published_date }}</h4>
                </div>
            </div>
            <hr>
            <div class="row align-items-start justify-content-around">
                <div class="col-8 align-self-start">
                    <div >
                        <pre class="text-left">{{ post.text }}</pre>
                    </div>
                    <hr>
                    <a class="post-link nav-link" href="{% url 'post_detail' pk=post.pk %}"><h3 class="header-com">Comments: {{ post.approve_comments.count }}</h3></a>
                </div>
                <div class="col-3 align-self-start">
                    {% if post.image %}
                        <div class="post-pic">
                            <img src="{{ post.image.url }}" class=".img-fluid img-thumbnail" >
                        </div>
                    {% else %}
                        <div class="post-pic">
                            <img src=" {% static 'media/greyblank.jpg' %}" class="img-fluid img-thumbnail" alt="image">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <br>
        {% else %}
        <br>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}