{% extends "blog/base.html" %}
{% block content %}
<br><br>
{% if user.is_authenticated %}

    <div class="container-fluid post-det-container">
        <h1 align="center" class="header-post">New Post/Edit Post</h1>
            <div class="comment-form-text">
                <form class="post-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-lg btn-secondary">Save</button>
                </form>
                <br>
            </div>
    </div>
<br>
{% endif %}

{% endblock %}