{% extends "blog/base.html" %}
{% block content %}
<div class="pages">
    <h1 align="center">{{ post.title }}</h1>
    {% if post.published_date %}
        <div class="row align-items-center justify-content-center">
            <div class="col align-self-center">
                <h4 align="center">{{ post.published_date }}</h4>
            </div>
        </div>
    {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
    <hr>
    {% if post.image %}
        <div class="row justify-content-center">
            <div class="col"><img src="{{ post.image.url }}" class=".img-fluid img-thumbnail" width="30%"></div>
        </div>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
        <div class="row align-items-center justify-content-center">
            <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
            <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    {% endif %}
    <br>
    <div class="row align-items-center justify-content-center">
        <p class="post-det-text">{{ post.text|safe|linebreaksbr }}</p>
    </div>

    {% if post.video %}
    <p><video width='400' controls>
    <source src='{{ post.video.url }}' type='video/mp4'></video></p>
    {% endif %}

    <hr>
    <div class="row align-items-center justify-content-center">
        <a class='btn btn-primary btn-comment' href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
    </div>
    <div class="container">
        {% for comment in post.comments.all %}

            {% if user.is_authenticated or comment.approved_comment %}
                <p>Posted By: {{ comment.author }} <br>{{ comment.created_date }}</p>

                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                {% endif %}

                <p>{{ comment.text|safe|linebreaks }}</p>

                <hr class="my-4">
            {% endif %}
            {% empty %}
            <p>No Comments</p>
        {% endfor %}
    </div>
</div>
{% endblock %}