body {
    background-size:cover;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}
a{
    color:white;
    font-weight: bold;
}

/* NAVBAR */
.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-brand{
    color: black;
}
li {
      float: none;
      display: inline-block;
}

.n-link{
    font-size: 23px;
    height: auto;
    width:240px;
    color: lightgrey;

}
.n-link-main{
    font-size: 43px;
    height: 46px;
    width:240px;
    color: white;
}
.n-link-border{
    font-size: 23px;
    border-left: 2px solid rgb(177, 173, 173);
    border-right: 2px solid rgb(177, 173, 173);
    height: auto;
    width:240px;

}

/* FOOTER */
.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
    text-align:center;
}
.footer,
.push {
    height: 50px;
}

/* POST */

.post-row{
    position: relative;
    left:30px;

}

.post-det-text{
    width:50%;
}
.post-link {
    color:black;
}

.post-pic{
    max-width:350px;
    max-height:250px;
}
.post-pic-det{
    width:50%;
    height:30%

}

.comment-box{
    left:50px;
}








