body {
    background-size:cover;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}
a{
    color:white;
    font-weight: bold;
}

.header-main{
    font-size: 75px;
    color:lightgrey;
    font-weight: bold;
    text-align:center;
}

.header-main-box{
    position:relative;
}

.header-post {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.header-logout{
    font-size: 25px;
    color:black;
    font-weight: bold;
}

.header-com{
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.logout-link{
    font-size: 25px;
    color: white;
}

.about-image{
    width:25%;
}

/* NAVBAR */

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-brand{
    color: black;
}
li {
      float: none;
      display: inline-block;
}

.n-link{
    font-size: 23px;
    height: auto;
    width:240px;
    color: lightgrey;

}
.n-link-main{
    font-size: 33px;
    height: auto;
    width:240px;
    color: white;
}

.n-link-border{
    font-size: 23px;
    border-right: 2px solid rgb(177, 173, 173);
    border-left: 2px solid rgb(177, 173, 173);
    height: auto;
    width:240px;

}

.n-link-border-r{
    font-size: 23px;
    border-right: 2px solid rgb(177, 173, 173);
    height: auto;
    width:240px;

}


.n-link-border-l{
    font-size: 23px;
    border-left: 2px solid rgb(177, 173, 173);
    height: auto;
    width:240px;

}

/* FOOTER */
.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
    text-align:center;
}
.footer,
.push {
    height: 50px;
}

/* POST */

.post-list-container{
    left:2.5%;
    right:2.5%;
    width:95%;
    background-color: whitesmoke;
    background: rgba(204, 204, 204, 0.8);
    border-width: thick;
    border-color: white;
    margin: auto;
}

.post-list-row{
    height:10%;
}

.post-text{
    font-size:12px;
}

.post-det-text{
    width:80%;
}

.post-det-header{
    font-size: 35px;
    font-weight: bold;
}

.post-det-img{
    margin: auto;
    padding: 10px;
    width: 50%;
}

.post-det-container{
    width: 70%;
    position: relative;
    background-color: whitesmoke;
    background: rgba(204, 204, 204, 0.8);
    border: solid white;
    border-radius: 15px;

}

.post-link {
    color:black;
}

.post-pic-box{
    width:100%;
    text-align: center;
}

.post-pic{
    width:100%;
}
.post-pic-det{
    width:50%;
    height:30%

}

.post-title{
    font-size:20px;
    color:black;
}

.post-title:hover{
    color: white;
}

/* COMMENT */

.comment-box{
    position: relative;
    border: solid;
    border-width: thin;
    height: 100%;
}

.comment-top{
    border: solid;
    border-width: thin;
    height:20%;

}

.comment-txt-box{
    background-color: white;
    height:80%;
    left:10px;
}
.comment-txt{
    position:relative;
    width:98%;
    left:1%;
    right:1%;
}

.comment-form-box{
    margin:auto;
    width: 70%;
    position: relative;
    background-color: whitesmoke;
    background: rgba(204, 204, 204, 0.8);
    border: solid white;
    border-radius: 15px;
}

.comment-form-text{
    margin:auto;
    text-align: center;
}

.comment-count{
    font-size: 15px;
    font-weight: bold;
}

.comment-count:hover{
    color:white;
}

.gallery-row{
    left:10%;
    right:10%;
    width:80%;
    height: 90%;
    margin: auto;
}

.gallery-col{
}










